.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
}

.login-header{
  margin-bottom: 2rem;
  text-align: center;
}

.login-container {
  width: 400px;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 10px;
}
.login-form {
  display: flex;
  justify-content: center;
}

.login-input {
  display: flex;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.login-btn {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #f27a1a !important;
  color: white !important;
  border-radius: 5px;
}

.login-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 1rem;
}
