.brands {
  padding: 20px 0;
}

.brands a {
  padding: 10px;
}

.brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  transition: all .2s ease;
}

.brand:hover {
  transform: scale(1.05);
  border: 1px solid orange;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.brand p {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  transition: all .2s ease;
}

.brand-icon {
  font-size: 1.5rem;
  transition: all .2s ease;
  color: #555;
}

.brand:hover .brand-icon,
.brand:hover p {
  color: orange;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}