.signUp-page {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signUp-header {
  margin-bottom: 2rem;
  text-align: center;
}

.signUp-container {
  background-color: #fff; /* Form container rengi */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 10px;
}
.signUp-form {
  display: flex;
  justify-content: center;
}
.sign-up-checkboxs {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.signUp-back {
  margin-top: 1rem;
  display: flex;
  margin-left: 15px;
  justify-content: flex-start;
  height: 30px;
}
.signUp-back-icon {
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  transition-duration: 500ms;
}
.signUp-back-icon:hover {
  color: #f27a1a;
  font-size: 25px;
}

.signUp-btn {
  border-radius: 5px;
  background-color: #e37318 !important;
  width: 100%;
  color: #fff !important;
}

.signUp-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 1rem;
}
